.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;

    margin-top: 20px;
    border-radius: 24px;
    padding: 0px 60px;
    margin: auto 160px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
}

.hamburguer {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30px;
    height: 20px;
    gap: 4px;
    box-shadow: 1px 1px 3px #9d9d9d;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.hamburguer .line {
    width: 90%;
    height: 4px;
    border-radius: 30px;
    background-color: #444;

}

.menu img {
    width: 130px;
}

.items .img {
    display: none;
}


.menu ul {
    list-style: none;
    display: flex;
    gap: 60px;
    box-sizing: border-box
}

.menu li {
    cursor: pointer;
    font-size: 18px;
    transition: all ease .3s;
}

.items .close {
    display: none;
    padding: 4px;
    box-shadow: 0px 0px 4px #9b9b9b;
    align-items: center;
    font-size: 25px;
    border-radius: 6px;
    justify-content: center;
}

.menu .items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menu .contact:not(.items .contact) {
    display: flex;
}

.items .contact {
    display: none;
}

.menu li a {
    color: #1f1f1f;
}

.contact {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.3px;
    display: none;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background-color: var(--red900);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    align-self: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu li a:hover {
    color: var(--red900);
}

@media (max-width: 1400px) {
    .menu {
        margin: auto 80px;
    }
}

@media (max-width: 1200px) {
    .menu .contact:not(.items .contact) {
        display: none;
    }

}

@media (max-width: 1100px) {
    .menu {
        box-shadow: 4px 0px 6px #575757;
    }

    .items .close {
        display: flex;
        position: absolute;
        right: 30px;
        top: 20px;
    }

    .menu .items .img {
        display: inline;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu .items .img img {
        max-width: 200px;
        width: 50vw;
    }

    .items .contact {
        display: flex;
    }


    .menu .items .img::before {
        content: '';
        height: 4px;
        width: 60%;
        border-radius: 4px;
        position: absolute;
        bottom: -20px;
        background-color: var(--red900);
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        padding: 0;

    }

    .menu .items {
        gap: 80px;
        display: flex;
        overflow-y: scroll;
        position: absolute;
        flex-direction: column;
        align-items: center;
        background-color: white;
        scrollbar-width: none;
        /* Esconde a barra de rolagem */
        -ms-overflow-style: none;
        /* Para navegadores baseados no Edge antigo */
        height: 100vh;
        width: 50vw;
        top: 90px;
        left: 6px;
        padding: 40px 20px;
        box-shadow: 0px 0px 10px #1f1f1f;
        border-radius: 10px;
    }

    .hamburguer {
        display: flex;
    }
}

@media (max-width: 600px) {
    .menu {
        margin: auto 0px;
        top: 0;
        border-radius: 0;
        padding: 0px 20px;
        position: sticky;
    }

    .menu .items {
        top: 0;
        border-radius: 0;
        width: 100vw;
        left: 0;
        box-sizing: border-box;
        box-shadow: none;
        transition: all ease .5s;
    }
}